.verticalText {
    word-wrap: break-word;
    font-size: 12px;
}

.mydiv {
  height: 50px;
  width: 10px;
  padding-left:200px;
  padding-top:55px
}

    .verticalText2 {
        word-wrap: break-word;
          font-size: 12px;
        }
        .mydiv2 {
          height: 50px;
          width: 10px;
          padding-left:700px;
          padding-top:40px
          
        }

